name: Lint R Package

on:
  workflow_run:
    workflows: [ "Make Project" ]
    types:
      - completed
  workflow_dispatch:

permissions: read-all

jobs:
  lint:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.PAT }}

    steps:
      - uses: actions/checkout@v6

      - uses: r-lib/actions/setup-r@v2
        with:
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::lintr, local::.
          needs: lint

      - name: Lint
        run: |
          lintr::lint_dir(
            path = ".",
            linters = lintr::linters_with_defaults(
              lintr::object_name_linter(
                styles = c(
                  "CamelCase",
                  "snake_case",
                  "symbols"
                )
              )
            ),
            exclusions = list(
              "renv",
              "packrat",
              ".library",
              "R/RcppExports.R"
            )
          )
        shell: Rscript {0}
        env:
          LINTR_ERROR_ON_LINT: true
