name: make

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
  release:
    types: [published]
  workflow_dispatch:

jobs:

  build:
    runs-on: ubuntu-latest
    container:
      image: ijapesigan/docs
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    permissions:
      contents: write

    steps:
      -
        name: Checkout 
        uses: actions/checkout@v3
      -
        name: Clean
        run: |
          make clean
          make cleanpkg
      -
        name: Make Project
        run: |
          make install
          make all
