name: Non-ASCII check

on:
  workflow_run:
    workflows: [ "Make Project" ]
    types:
      - completed
  workflow_dispatch:

jobs:
  grep-non-ascii:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Find non-ASCII characters
        shell: bash
        run: |
          set -euo pipefail
          EXCLUDES=(
            -path './.git/*'
          )
          mapfile -d '' files < <(find . -type f "${EXCLUDES[@]}" -prune -o -type f -print0)
          if grep -nH --color=always -P '[^\x00-\x7F]' "${files[@]}"; then
            echo
            echo "Non-ASCII characters found. Please remove/replace them."
            exit 1
          else
            echo "No non-ASCII characters found."
          fi
